.floatingButtonHide,
.floatingButtonShow {
  position: fixed;
  bottom: 3%;
  right: 1%;
  font-size: 40px;
  color: #1d837c;
  border-radius: 22px;
  transition: opacity 1s, box-shadow 1s;
  box-shadow: 2px 1px 14px dimgrey;
  cursor: pointer;
  border: 1px solid white;
  padding: 5px;
  transform: scale(0.6);
}

.floatingButtonHide {
  opacity: 0;
}

.floatingButtonShow {
  opacity: 0.5;
}

.floatingButtonShow:hover {
  opacity: 1;
  transform: scale(1);
}
