.buttonsNavBarWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 20px;
  transform: scale(0.6);
  transition: scale 2s ease-in-out;
}

.buttonsNavBarWrapper:hover {
  transform: scale(1);
}

.buttonNavBar {
  margin: 6px;
  cursor: pointer;
  opacity: 0.5;
  color: #1d837c;
  background-color: transparent;
  border: 1px solid white;
  width: max-content;
  font-weight: 800;
  height: 27px;
  width: 27px;
  text-align: center;
  transition: opacity 1s, box-shadow 1s;
  box-shadow: 2px 1px 14px dimgrey;
  cursor: pointer;
  border-radius: 22px;
  padding: 10px;
  display: block;
}

.navBarButtonHide {
  opacity: 0;
  display: none;
}

.buttonIndividualWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonNavBarOnHover {
  display: none;
  padding: 5px;
  font-size: 19px;
  margin-left: 5px;
  text-align: center;
}

.buttonNavBar:hover ~ .buttonNavBarOnHover {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  color: #1d837c;
  font-weight: 800;
  border-radius: 10px;
  font-size: 15px;
}

.buttonNavBar:hover {
  opacity: 1;
}
